@{
    ViewData["Title"] = "Espace Public";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Trouver l'offre d'emploi qui vous convient.</p>

    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="~/images/technicien support informatique.png" alt="Card image cap">
                    <h5 class="card-title homemar">Technicien support informatique</h5>
                    <a href="Home/Postuler" class="btn btn-primary">Postuler</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="~/images/rédacteur web HF.png" alt="Card image cap">
                    <h5 class="card-title homemar">Rédacteur web H/F</h5>
                    <a href="Home/Postuler" class="btn btn-primary">Postuler</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="~/images/Magasinier HF.png" alt="Card image cap">
                    <h5 class="card-title homemar">Magasinier</h5>
                    <a href="Home/Postuler" class="btn btn-primary">Postuler</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="~/images/Développeur Web HF.png" alt="Card image cap">
                    <h5 class="card-title homemar">Développeur Web H/F</h5>
                    <a href="Home/Postuler" class="btn btn-primary">Postuler</a>
                </div>
            </div>
        </div>

    </div>

</div>
